<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>LayerTest.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>4C5FD9271D066B6D0093B06B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4C5FD9401D066B6D0093B06B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4C5FD94B1D066B6D0093B06B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
